<div >
    <ul class="pt-3" style="display:flex; padding-left:5rem;">
        <li class="pr-4" style="list-style:none; cursor:pointer;">
            <NavLink class="" href="/">
                Search
            </NavLink>
        </li>
        <li class="pr-4" style="list-style:none; cursor:pointer;">
            <NavLink class="" href="/upload">
                Upload
            </NavLink>
        </li>
    </ul>
</div>

